body {
  margin: 0;
  font-family: Karla;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}


.start-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.start-page label {
  border: none;
  font-size: 20px;
}

select,
option {
  border-radius: 15px;
  outline: none;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #4D5B9E;
}

h1 {
  color: #293264;
  text-align: center;
  font-size: 31.25px;
  font-weight: 700;

}

button {
  border-radius: 15px;
  background: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 28px;
  border: none;
  cursor: pointer;
}

.blue {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.yellow {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

ul {
  padding: 20px 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #DBDEF0;
}

h2 {
  color: #293264;
  font-family: Karla;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}



input[type="radio"] {
  display: none;

}

label {
  display: inline-block;
  padding: 4px 10px;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  border-radius: 7.942px;
  border: 1px solid #4D5B9E;
  cursor: pointer;

}

label:hover {
  background: #D6DBF5;
}

input[type="radio"]:checked+label {

  background: #D6DBF5;
  border: none;
}

.grey-answer {

  opacity: 0.5;
}

input[type="radio"]:checked+label.correct-answer {
  background: #94D7A2;
}

input[type="radio"]+label.correct-answer {
  background: #94D7A2;
  border: none;
}

input[type="radio"]:checked+label.incorrect-answer {
  background: #F8BCBC;
  opacity: 0.5;
}

.check-btn {
  margin-top: 16px;
}

.result-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.result-wrapper p {
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}
